/* *Sobre Nosotros */
.container {
    margin: 4vh auto;
}

.sobrenosotros-imgs {
    display: flex;
    margin: 1vh 0;
    z-index: 2;

    img {
        @include img-cover-wh-100;
        box-shadow: $box-shadow-imgs;
        
        &:hover {
            transform: scale(1.05, 1.05);
            transition: all .5s;
        }
    }
}

.sobrenosotros-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vh;
    z-index: 1;
}